/**
	Especificaciones CSS para el juego del solitario 
*/

/* /*** !!!!!!!!!!!!!!!!!!! CODIGO !!!!!!!!!!!!!!!!!!!! 
	Completar los estilos que faltan y modificar al gusto del alumno
**/

/* Todos los contadores estarán ubicados en la parte inferior 
   derecha (position absolute) de los respectivos tapetes (position relative).
*/
.contador {
	position: absolute;
	background-color: black;
	color: white;
	font-size: 11px;
	line-height: 10px;
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	top: 0px;
	right: 0px;
}


/* Centrado del título y color */
h1#titulo {
	text-align: center;
	color: #E65014;
	margin: 0px;
}

/* Centrado de los marcadores de tiempo y movimientos */
h2#marcadores {
	text-align: center;
	margin: 0px;
	font-size: 22px;
	font-weight: bold;
}

/* Mesa que contiene a los tapetes centrados */
div#mesa {
	text-align: center;
	margin: 10px;
}

/* Todos los tapetes con position relative para que
   los respectivos mazos (arrays de <img>) puedan
   posicionarse de manera absoluta respecto a ellos */
div.tapete {
	display: inline-block;
	position: relative;
	margin: 5px;
	border-radius: 5px;
}


/* Dimensiones y color de fondo para el tapete inicial */
div.tapete#inicial {
	width: 340px;
	height: 340px;
	background-color: lightgrey;
}

/* Dimensiones para todos los tapetes salvo el inicial */
.tapete:not(#inicial) {
	height: 120px;
	width: 100px;
}

/* Color de fondo para el tapete de las cartas sobrantes */
div.tapete#sobrantes {
	background-color: lightblue;
}

/* Color de fondo de los tapetes receptores */
div.tapete.receptor {
	background-color: lightgreen;
}

/* Tamaño de las cartas*/
.carta {
	width: 45px;
	height: 60px;
	position: absolute;
}

/* Puntero y animación de una carta que es arrastrable*/
.carta[draggable='true']:hover{
	cursor: pointer;
	transform: scale(1.2);
}


/* Sombra de tapete cuando se hace un mal movimiento*/
@keyframes movimientoError {
	0% {
		box-shadow: 0px 0px 1px 0px red;
	}

	25% {
		box-shadow: 0px 0px 10px 0px red;
	}

	80% {
		box-shadow: 0px 0px 10px 0px red;
	}
	
	100% {
		box-shadow: none;
	}
}


/* Sombra de tapete cuando se hace un movimiento correcto*/
@keyframes movimientoCorrecto {
	0% {
		box-shadow: 0px 0px 1px 0px green;
	}

	25% {
		box-shadow: 0px 0px 10px 0px green;
	}

	80% {
		box-shadow: 0px 0px 10px 0px green;
	}
	
	100% {
		box-shadow: none;
	}
}
